.features__list{
    width: 100%;
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.features__list-item{
    &:not(:last-child){
        margin-bottom: 30px;
    }

    .features__list-head{
        text-align: center;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-text-color;

        &::before{
            display: block;
            content: "";
            height: 120px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 30px;
            border-radius: 4px;
            background-color: $secondary-font-color;
        }
    }

    &.attentiveness .features__list-head::before{
        background-image: url(../images/svg/antenna.svg);
    }

    &.punctuality .features__list-head::before{
        background-image: url(../images/svg/clock.svg);
    }

    &.planning .features__list-head::before{
        background-image: url(../images/svg/diagram.svg);
    }

    &.innovation .features__list-head::before{
        background-image: url(../images/svg/astronaut.svg);
    }

    @media screen and (min-width: 768px){
        width: 47%;
    }

    @media screen and (min-width: 1600px){
        width: 23%;
        max-width: 270px;
    }
}

.features__list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}

