.hero-box {
  margin: auto;  
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.hero-name {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
}
.hero {
  padding-top: 118px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/heroMobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px)
   {
  .hero {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/heroMobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-box {  
  width: 360px;  
}
  .hero {
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 204px;
  padding-right: 204px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 768px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/heroTablet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px)
  {
  .hero {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/heroTablet@2x.jpg");
  }
}


}
@media screen and (min-width: 1200px) {
.hero-box {
  width: 696px;
}
  .hero {
  padding-top: 200px;
  padding-bottom: 200px;  
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero@2x.jpg");
  }
}
.hero-name {
  font-family: $main-font;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

}