@media screen and (max-width: 767px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .occupation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
.occupation {
  display: flex;
  padding-top: 47px;
  padding-bottom: 94px;
}

.examples {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 50px;
}
.examples-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.examples-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.examples-box {
  position: relative;
}
.title-desk-position,
.title-mobile-position,
.title-design-position {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
}
}
