
.our-team {  
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-list {  
  display: flex;
  flex-wrap: wrap; 
  margin: 0px;  
}
.team {
  margin-top: 0px;
  margin-bottom: 60px;
}

.team-list-member {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-font-color;
}
.team-list-member-specialization {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team-picture-title {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .item-team-list {
  width: 450px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {

.team-list {  
  align-items: center;
  justify-content: center;
  
}
.team {
  margin-bottom: 50px;
}
.item-team-list {
  width: 354px;
  &:not(:last-child) {
    margin-bottom: 0px;
  }
  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.team-picture-title {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  }
@media screen and (min-width: 1200px) {

.team-list { 
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}
.team {
  margin-bottom: 50px;
}
.item-team-list {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  
  &:nth-child(-n+2) {
    margin-bottom: 0px;
  }
}
}
