$accent-color: #2196F3;
$header-bg-color: white;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$tertiary-text-color: white;
$hero-footer-bg-color: #2F303A;
$primary-font-color: #E5E5E5;
$secondary-font-color: #F5F4FA;
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;